h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

body {
  background: lightblue;
  font-family: 'Merriweather', serif;
}
body ul li {
  line-height: 1.5;
}
p img {
  display:block;
  border:5px solid pink;
  margin: 0px auto 50px;
}
