h1, h2 {
  font-family: 'Fira Mono', monospace;
  color:red;
  text-align: center;
}
body {
  background: #5fc3ad;
}
#method {
  font-family:sans-serif;
  color:slateblue;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
#food img {
  border:3px solid black;
  margin:0 auto;
  display:block;
  border-radius: 50%;
}
body p {
  padding-bottom: 5px;
  margin-left: 20px;
  line-height: 1.5;
}
